@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #fdd;
}

header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fdd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.logo {
  color: #8D5C5C;
  font-size: 60px;
  margin-left: 60px;
  font-family: 'Cormorant Infant', serif;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 70px;
    margin-top: 12px;
    margin-right: 32%;
}

.nav-item a {
    font-size: 25px;
    text-decoration: none;
    color: #8D5C5C;
    font-weight: 400;
    font-family: 'Jaldi', serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 90%;
    background: url(close-up-large-festive-bouquet-with-chrysanthemum-flowers\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
}

.hero-content {
  color: #FFE4E1;
  max-width: 400px;
}

.hero-content h1 {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  font-family: 'Cormorant Infant', serif;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fdd; /* rosa claro */
  border: 2px solid #8D5C5C;
  border-radius: 12px;
  font-size: 1rem;
  color: #8D5C5C;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #fbb;
}

hr {
  background-color: #8D5C5C;
  border: #8D5C5C;
  height: 1px;
}

p {
  color: #8D5C5C;
  font-family: 'Cormorant Infant', serif;
  font-size: 25px;
}

.about {
  padding: 20px;
}

.about-content {
  margin: 0 auto;
  gap: 40px;
  padding: 30px;
}

h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  color: #8D5C5C;
  font-family: 'Cormorant Infant', serif;
}

.testimonials {
  padding: 20px;
}

.testimonials-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

footer {
  background-color: #fdd;
  border: black;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  gap: 100px;
  padding: 30px 145px 30px 0px;
}

.rights {
  color: #8D5C5C;
  padding: 20px;
  display: flex;
  justify-content: center;
  
}